body
{
    display: flex;
    margin: 0;
    font-family: "Times New Roman", arial, serif;
}


.first_part
{
    display: flex;
    flex-direction: column;
    width: 29%;
    background-color: rgba(255,193,7 ,1);
}


.second_part
{
    display: flex;
    flex-direction: column;
    width: 71%;

}

/*-----------------Partie Photo Identité------------------------------------------------------*/

.identity
{
    height: 15%;
    display: flex;
    /*border: 3px solid black;*/

}

.photo
{
    margin: auto;
    border-radius: 100px;
    box-shadow: 1px 1px 5px black;
}

/*-----------------Partie Contact------------------------------------------------------------*/

.contact
{
    height: 25%;
}

.contact h2
{
    border: solid 5px black;
    background-color: black;
    color: rgba(255,193,7 ,1);
    text-align: center;
    
}

.informations
{
    margin: 30px;
}

/*-----------------Partie A Propos------------------------------------------------------*/

.moi h2
{
    border: solid 5px black;
    background-color: black;
    color: rgba(255,193,7 ,1);
    text-align: center;
    
}

.moi
{
    height: 50%;
}

.moi p
{
    text-align: justify;
    width: 85%;
    margin: auto;
}

/*-----------------Partie Loisirs------------------------------------------------------*/

.loisirs
{
    height: 10%;
}

.loisirs h2
{
    border: solid 5px black;
    background-color: black;
    color: rgba(255,193,7 ,1);
    text-align: center;
}

.logos
{
    display: flex;
    justify-content: space-around;
}

/*-----------------Header Second Part------------------------------------------------------*/

header
{
    height: 15%;
    margin-left: 60px;
    margin-top: 70px;
}

header h1
{
    margin: 0;

}

.trait
{
    border-bottom: 1px solid rgba(255,193,7 ,1);;
}

.nom_prenom
{
    font-size: 30px;
    font-family: 'happy_times_at_the_ikobRg', sans-serif;
}

.prenom
{
    color: rgba(255,193,7 ,1);
    
}

.nom_metier
{
    font-size: 15px;
}

/*-----------------Partie Formation------------------------------------------------------*/

.formation
{
    height: 30%;
    
}

.title_formation
{
    display: flex;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: 50px;   
    margin-right: 30px;
    border-bottom: 1px solid rgba(255,193,7 ,1);
}

.formation_logo
{
    
    height: 50%;
    margin-right: 30px;
    color: rgba(255,193,7 ,1);
}

.title_formation h2
{
    margin: 0;
}

.formation h3
{
    margin: 0;
    
}

.formation h4
{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.alencon
{
    display: flex;
    margin-top: 10px;
     
}

.dates_alencon
{
    display: flex;
    margin: 0;
    width: 54%;
    margin-left: 40px;
     
}

.alencon_chip
{
    height: 15%;
    margin-right: 15px;
    color: rgba(255,193,7 ,1);
}

.dates_alencon p
{
    margin: 0;
}

.informations_alencon
{
    margin-right: 20px;
    margin-left: 20px;
    
}

.caen
{
     
    display: flex;
    margin-top: 10px;
}

.dates_caen
{
    display: flex;
    margin: 0;
    width: 54%;
    margin-left: 40px;
     
}

.caen_chip
{
    height: 15%;
    margin-right: 15px;
    color: rgba(255,193,7 ,1);
    
}

.dates_caen p
{
    margin: 0;
}

.informations_caen
{
    margin-right: 20px;
    margin-left: 20px;
    
}

/*-----------------Partie Expériences------------------------------------------------------*/

.professional_experiences
{
    height: 40%;
    
}

.title_experience
{
    display: flex;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: 50px;   
    margin-right: 30px;
    border-bottom: 1px solid rgba(255,193,7 ,1);
}

.experience_logo
{
    
    height: 50%;
    margin-right: 30px;
    color: rgba(255,193,7 ,1);
}

.title_experience h2
{
    margin: 0;
}

.professional_experiences h3
{
    margin: 0;
    
}

.professional_experiences h4
{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.asap
{
    display: flex;
    margin-top: 10px;
     
}

.dates_asap
{
    display: flex;
    margin: 0;
    width: 54%;
    margin-left: 40px;
     
}

.asap_chip
{
    height: 15%;
    margin-right: 15px;
    color: rgba(255,193,7 ,1);
}

.dates_asap p
{
    margin: 0;
    width: 100%;
}

.informations_asap
{
    margin-right: 20px;
    margin-left: 20px;
    
}

.axeo
{
    display: flex;
    margin-top: 10px;
     
}

.dates_axeo
{
    display: flex;
    margin: 0;
    width: 56%;
    margin-left: 40px;
     
}

.axeo_chip
{
    height: 15%;
    margin-right: 15px;
    color: rgba(255,193,7 ,1);
}

.dates_axeo p
{
    margin: 0;
    width: 100%;
}

.informations_axeo
{
    margin-right: 20px;
    margin-left: 20px;
    
}

.proseniors
{
    display: flex;
    margin-top: 10px;
     
}

.dates_proseniors
{
    display: flex;
    margin: 0;
    width: 52%;
    margin-left: 40px;
     
}

.proseniors_chip
{
    height: 15%;
    margin-right: 15px;
    color: rgba(255,193,7 ,1);
}

.dates_proseniors p
{
    margin: 0;
    width: 100%;
}

.informations_proseniors
{
    margin-right: 20px;
    margin-left: 20px;
    
}

/*-----------------Partie Recommandations-------------------------------------------------*/

.language
{
    height: 15%;
}

.title_language
{
    display: flex;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: 30px;   
    margin-right: 30px;
    border-bottom: 1px solid rgba(255,193,7 ,1);
}

.language_logo
{
    
    height: 50%;
    margin-right: 30px;
    color: rgba(255,193,7 ,1);
}

.title_language h2
{
    margin: 0;
}

.language_images
{
    display: flex;
    justify-content: space-around;
    border: 3px sold black;
    margin-bottom: 10px;
}

/*-----------------Affichage tablette-------------------------------------------------*/

@media screen and (max-width: 789px) and (orientation: portrait)

{
   
.informations
{
    margin: 0px;
}

.first_part
{
    width: 45%;
}

.loisirs h2
{
    margin: 3px;
}

.logos
{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75%;
}



}







@font-face {
    font-family: 'happy_times_at_the_ikobRg';
    src: url('fonts/happy-times-at-the-ikob-webfont.eot');
    src: url('fonts/happy-times-at-the-ikob-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/happy-times-at-the-ikob-webfont.woff2') format('woff2'),
         url('fonts/happy-times-at-the-ikob-webfont.woff') format('woff'),
         url('fonts/happy-times-at-the-ikob-webfont.ttf') format('truetype'),
         url('fonts/happy-times-at-the-ikob-webfont.svg#happy_times_at_the_ikobRg') format('svg');
    font-weight: normal;
    font-style: normal;

}