body
{
    display: flex;
    margin: 0;
    font-family: "Times New Roman", arial, serif;
}


.first_part
{
    display: flex;
    flex-direction: column;
    width: 29%;
    background-color: rgba(255,193,7 ,1);
}


.second_part
{
    display: flex;
    flex-direction: column;
    width: 71%;

}

/*-----------------Partie Photo Identité------------------------------------------------------*/

.identity
{
    height: 18%;
    display: flex;
}

.photo
{
    margin: auto;
    border-radius: 100px;
    box-shadow: 1px 1px 5px black;
}

/*-----------------Partie Contact------------------------------------------------------------*/

.contact
{
    height: 35%;
}

.contact h2
{
    border: solid 5px black;
    background-color: black;
    color: rgba(255,193,7 ,1);
    text-align: center;
    
}

.informations
{
    margin: 30px;
}

a
{
color: black;
}

/*-----------------Partie A Propos------------------------------------------------------*/

.moi h2
{
    border: solid 5px black;
    background-color: black;
    color: rgba(255,193,7 ,1);
    text-align: center;
    
}

.moi
{
    height: 50%;
}

.moi p
{
    text-align: justify;
    width: 85%;
    margin: auto;
}

/*-----------------Partie Loisirs------------------------------------------------------*/

.loisirs
{
    height: 15%;
}

.loisirs h2
{
    border: solid 5px black;
    background-color: black;
    color: rgba(255,193,7 ,1);
    text-align: center;
}

.logos
{
    display: flex;
    justify-content: space-around;
}

/*-----------------Header Second Part------------------------------------------------------*/

header
{
    margin-left: 40px;
    margin-top: 20px;
}

header h1
{
    margin: 0;

}

.trait
{
    border-bottom: 1px solid rgba(255,193,7 ,1);;
}

.nom_prenom
{
    font-size: 60px;
    font-family: 'happy_times_at_the_ikobRg', sans-serif;
}

.prenom
{
    color: rgba(255,193,7 ,1);
    
}

.nom_metier
{
    font-size: 30px;
} 

/*-----------------Partie Formation------------------------------------------------------*/

.formation
{
    height: 35%;
}

.title_formation
{
    display: flex;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: 50px;   
    margin-right: 20px;
    border-bottom: 1px solid rgba(255,193,7 ,1);
}

.formation_logo
{
    
    height: 50%;
    margin-right: 30px;
    color: rgba(255,193,7 ,1);
}

.title_formation h2
{
    margin: 0;
}

.formation h3
{
    margin: 0;
    
}

.formation h4
{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.alencon
{
    display: flex;
    margin-top: 10px;
}

.dates_alencon
{
    display: flex;
    margin: 0;
    width: 41%;
    margin-left: 40px;
}

.alencon_chip
{
    height: 15%;
    margin-right: 16px;
    color: rgba(255,193,7 ,1);
}

.dates_alencon p
{
    margin: 0;
}

.informations_alencon
{
    margin-right: 20px;
    margin-left: 20px;
}

.caen
{
     
    display: flex;
    margin-top: 10px;
}

.dates_caen
{
    display: flex;
    margin: 0;
    width: 52%;
    margin-left: 40px;
}

.caen_chip
{
    height: 15%;
    margin-right: 19px;
    color: rgba(255,193,7 ,1);
}

.dates_caen p
{
    margin: 0;
}

.informations_caen
{
    margin-right: 20px;
    margin-left: 20px;
}

/*-----------------Partie Expériences------------------------------------------------------*/

.professional_experience
{
    height: 50%;
}

.title_experience
{
    display: flex;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: 50px;   
    margin-right: 30px;
    border-bottom: 1px solid rgba(255,193,7 ,1);
}

.experience_logo
{
    
    height: 50%;
    margin-right: 30px;
    color: rgba(255,193,7 ,1);
}

.title_experience h2
{
    margin: 0;
}

.professional_experience h3
{
    margin: 0;
    
}

.professional_experience h4
{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.asap
{
    display: flex;
    margin-top: 10px;
}

.dates_asap
{
    display: flex;
    margin: 0;
    width: 65%;
    margin-left: 40px;
}

.asap_chip
{
    height: 15%;
    margin-right: 15px;
    color: rgba(255,193,7 ,1);
}

.dates_asap p
{
    margin: 0;
    width: 100%;
}

.informations_asap
{
    margin-right: 20px;
    margin-left: 20px;
}

.axeo
{
    display: flex;
    margin-top: 10px;
}

.dates_axeo
{
    display: flex;
    margin: 0;
    width: 58%;
    margin-left: 40px;
}

.axeo_chip
{
    height: 15%;
    margin-right: 15px;
    color: rgba(255,193,7 ,1);
}

.dates_axeo p
{
    margin: 0;
    width: 100%;
}

.informations_axeo
{
    margin-right: 20px;
    margin-left: 20px;
}

.proseniors
{
    display: flex;
    margin-top: 10px;
}

.dates_proseniors
{
    display: flex;
    margin: 0;
    width: 65%;
    margin-left: 40px;
}

.proseniors_chip
{
    height: 15%;
    margin-right: 15px;
    color: rgba(255,193,7 ,1);
}

.dates_proseniors p
{
    margin: 0;
    width: 100%;
}

.informations_proseniors
{
    margin-right: 20px;
    margin-left: 20px;
}

/*-----------------Partie Recommandations-------------------------------------------------*/

.skills
{
    height: 15%;
    display: flex;
}

.languages
{
    width: 35%;
}

.title_language
{
    display: flex;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: 20px;   
    margin-right: 40px;
    border-bottom: 1px solid rgba(255,193,7 ,1);
}

.language_logo
{
    
    height: 50%;
    margin-right: 30px;
    color: rgba(255,193,7 ,1);
}

.title_language h2
{
    margin: 0;
}

.languages ul
{
    width: 50%;
    margin-left: 54px;
    padding-left: 20px;
}

.it
{
    width: 65%;
}

.title_it
{
    display: flex;
    margin-bottom: 8px;
    margin-left: 40px;
    margin-top: 20px;   
    margin-right: 20px;
    border-bottom: 1px solid rgba(255,193,7 ,1);
}

.it_logo
{
    height: 50%;
    margin-right: 30px;
    color: rgba(255,193,7 ,1);
}

.title_it h2
{
    margin: 0;
}

.it_informations
{
    display: flex;
    justify-content: space-around;
}




/*-----------------Affichage mobile mode portrait-------------------------------------------------*/

@media screen and (max-width: 800px) and (orientation: portrait)

{

.first_part
{
    width: 56%;
}
    
.second_part
{
    width: 100%;
}

/*-----------------Partie gauche-------------------------------------------------------------*/

.identity
{
    height: 14%;
}

.contact
{
    height: 35%;
}
    
.informations
{
    margin: 0px;
    width: 100%;
    word-wrap: break-word;
}

.loisirs
{
    height: 18%;
}

.loisirs h2
{
    margin: 3px;
}

.logos
{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

/*-----------------Partie droite HEADER-------------------------------------------------------*/

header
{
    margin-left: 10px;
    margin-top: 55px;
}

.nom_prenom
{
    font-size: 40px;
}

.nom_metier
{
    font-size: 28px;
}

/*-----------------Partie Formation--------------------------------------------------------*/

.formation
{
    width: 100%;
    height: 32%;
}

.title_formation
{
    margin-left: 10px;  
    margin-right: 10px;
}

.alencon
{
    margin-right: 10px;
    margin-left: 10px;
}

.alencon_chip
{
    margin-right: 5px;
}

.dates_alencon
{
    margin: 0;
    width: 54%;
}

.informations_alencon
{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.caen
{
    margin-right: 10px;
    margin-left: 10px;
}

.caen_chip
{
    margin-right: 5px;
}

.dates_caen
{
    margin: 0;
    width: 54%;   
}

.informations_caen
{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

/*-----------------Partie Expériences---------------------------------------------------------*/

.professional_experience
{
    width: 100%;
    height: 50%;
}

.title_experience
{
    margin-left: 10px;  
    margin-right: 10px;
}

.asap
{
    margin-right: 10px;
    margin-left: 10px;
}

.asap_chip
{
    margin-right: 5px;
}

.dates_asap
{
    margin: 0;
    width: 54%;    
}

.informations_asap
{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.axeo
{
    margin-right: 10px;
    margin-left: 10px;
}

.axeo_chip
{
    margin-right: 5px;
}

.dates_axeo
{
    margin: 0;
    width: 54%;    
}

.informations_axeo
{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.proseniors
{
    margin-right: 10px;
    margin-left: 10px;
}

.proseniors_chip
{
    margin-right: 5px;
}

.dates_proseniors
{
    margin: 0;
    width: 54%;    
}

.informations_proseniors
{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

/*-----------------Partie Compétences----------------------------------------------------------*/

.skills
{
    flex-direction: column;
    height: 19%;
    margin-top: 0px;
    width: 100%;
}

.languages
{
    width: 100%;
}

.title_language
{
    margin-left: 10px;  
    margin-right: 10px;
}

.languages ul
{
    width: 50%;
}

.it
{
    width: 100%;   
}

.title_it
{
    margin-left: 10px;  
    margin-right: 10px;
}

}


/*-----------------Affichage mobile mode paysage-------------------------------------------------*/

@media screen and (max-width: 960px) and (orientation: landscape)

{

.first_part
{
    width: 37%;
}

/*-----------------Partie Gauche----------------------------------------------------------------*/

.identity
{
    height: 15%;
}

.informations
{
    margin: 20px;
    width: 89%;
    word-wrap: break-word;
}

.logos
{
    margin-top: 60px;
}

/*-----------------Partie Droite Header----------------------------------------------------------*/

header
{
    margin-left: 25px;
    margin-top: 65px;
}

.nom_prenom
{
    font-size: 48px;
}

/*-----------------Partie Formation------------------------------------------------------------*/

.title_formation
{
    margin-left: 25px;
}

.dates_alencon
{ 
    width: 55%;
    margin-left: 25px;
}

.informations_alencon
{
    width: 100%;
}

.dates_caen
{
    width: 55%;
    margin-left: 25px;
}

.informations_caen
{
    width: 100%;
}

/*-----------------Partie Expériences----------------------------------------------------------*/

.title_experience
{
    margin-left: 25px;
    width: 90%;
}

.dates_asap
{
    width: 55%;
    margin-left: 25px;
}

.informations_asap
{
    width: 100%;
}

.dates_axeo
{
    width: 55%;
    margin-left: 25px;
}

.informations_axeo
{
    width: 100%;
}

.dates_proseniors
{
    width: 55%;
    margin-left: 25px;
}

.informations_proseniors
{
    width: 100%;
}

/*-----------------Partie Compétences----------------------------------------------------------*/

.skills
{
    flex-direction: column;
    height: 19%;
}

.languages
{
    width: 100%;
}

.it
{
    width: 100%;
    
}

.title_language
{
    margin-left: 29px;
    margin-right: 20px;
    
}

.title_it
{
    margin-left: 29px;
    margin-right: 20px;
    
}

}

/*-----------------Font Face (Police d'écriture)---------------------------------------------------*/


@font-face {
    font-family: 'happy_times_at_the_ikobRg';
    src: url('fonts/happy-times-at-the-ikob-webfont.eot');
    src: url('fonts/happy-times-at-the-ikob-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/happy-times-at-the-ikob-webfont.woff2') format('woff2'),
         url('fonts/happy-times-at-the-ikob-webfont.woff') format('woff'),
         url('fonts/happy-times-at-the-ikob-webfont.ttf') format('truetype'),
         url('fonts/happy-times-at-the-ikob-webfont.svg#happy_times_at_the_ikobRg') format('svg');
    font-weight: normal;
    font-style: normal;

}