body
{
    display: flex;
    border: 3px solid black;
    margin: 0;
}


.first_part
{
    display: flex;
    flex-direction: column;
    width: 29%;
    border: 3px solid black;
    background-color: rgba(255,193,7 ,1);
}


.second_part
{
    width: 71%;
    border: 3px solid black;

}


.identity
{
    height: 15%;
    display: flex;
    border: 3px solid black;

}

.photo
{
    margin: auto;
    border-radius: 100px;
    box-shadow: 1px 1px 5px black;
}

.contact
{
    height: 25%;   
}

.contact_title
{
    background-color: black;
    color: rgba(255,193,7 ,1);
    
}

.a_propos
{
    background-color: black;
    color: rgba(255,193,7 ,1);
    
}

.informations
{
    margin: 30px;
}

.moi
{
    height: 50%;
}

.text_me
{
    text-align: justify;
    width: 85%;
    margin: auto;
}